html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0; /* обнуляем внешние отступы */
    padding: 0; /* обнуляем внутренние отступы */
    border: 1px solid red;
}

.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  position: relative;
  display: flex;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.logo {
  width: 183px;
  height: 32px;
}
.logo_place_header {
  background-image: url("../images/logo_place_header.svg");
  background-size: contain;
  position: absolute;
  top: 30px;
  left: 64px;
  z-index: 2;
}

.header__title{
  display: flex;
  justify-content: center;
  align-self: center;
  width: 730px;
  line-height: 96px;
  font-size: 102px;
  font-style: bold;
  margin-left: 64px;
  z-index: 2;
}
.header__subtitle{
  position: absolute;
  left: 64px;
  bottom: 30px;
  width: 388px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  z-index: 2;
}
.header__main-illustration {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 765px;
  height: 608px;
  z-index: 1;
}
.header__square-pic {
  position: absolute;
  top: 64px;
  right: 0px;
  background-color: #2f80ed;
  height: 568px;
  width: 568px;
}

.header__link {
  text-decoration: none;
  color: #2f80ed;
}
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.description{
  display: flex;
  justify-content: center;
  margin: 100px 0 0 0;
  min-height: 330px;
}
.two-columns {
  display: flex;
  justify-content: space-between;
  width: 80%;
  align-self: centered;
  align-items: flex-start;
}

.two-columns__brief {
  width: 175px;
  color: #2f80ed;
}
.two-columns__brief_text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}
.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph:not(:last-child){
  margin-bottom: 30px;
}

.two-columns__paragraph_text {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.two-columns__span-accent{
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
}

.digits {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 100px 0;
  flex-direction: column;
 }

.section-title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  margin-bottom: 20px;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
}

.section-subtitle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.table {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 1100px;
}

.table__cell {
  margin-top: 60px;
  width: 250px;
}

.table__heading {
  margin-bottom: 20px;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.table__text:last-child {
  margin-top: 20px;
}

.feynman {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f2f2f2;
  min-height: 890px;
}

.feynman__title {
  width: 648px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  margin-top: 100px;
  position: relative;
  z-index: 1;
  text-align: center;
}

.feynman__subtitle {
  position: relative;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  margin-top: 70px;
  z-index: 1;
}

.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-decoration: none;
  color: #2f80ed;
}

.feynman__background {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 867px;
  height: 637px;
}
